*{
    margin: 0;
    padding: 0;
    font-family:'Montserrat', sans-serif;
}

.colores {
    display: flex;
    background: rgb(236, 201, 198);
    background: rgb(249,180,175);
    background: rgb(245,143,136);
}

#container {
    width: 100%;
 }

header {
    display: flex;
    background: rgb(242,105,95);    
    height: 70px;
    justify-content: space-between;
    color: rgb(251, 249, 250);
}

.enable-menu{
    display: block;
}

.disable-menu{
    display: none;
}
header h1 {
    padding: 5px;
    margin: 10px;
}

.btn-menu {
  width: 40px;
  height: 40px;
  padding: 5px;
  margin: 10px;
}

.titlelogo {
    padding: 5px;
    margin: 10px;   
    width: 40px;
}

.leftColumn{
    width: 33%;
    height: 500px;
    background: rgb(242,105,95);
    float: left;
}

.insign {
    width: 34%;
    height: 500px;
    background: rgb(199, 163, 181);
    float: left;
}

.rigthColumn {
    width: 33%;
    height: 500px;
    background: rgb(242,105,95);
    float: left;
}

.lowerRow {
    width: 1400px;
    height: 60px;
    background: rgb(194, 18, 106);
    font-size: 1.5rem;
    color: rgb(251, 249, 250);
}